.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/galleries/*
.DS_Store
public/cache/**/*
index/*
public/tests/*
vendor/rails/*
public/javascripts/*packaged*
public/stylesheets/*packaged*
db/schema.rb
public/cache/*
config/database.yml
config/yc_config.yml
tmp/manips.rb
vendor/bundle/ruby/*
vendor/cache/*
vendor/ruby/*
db/base_site.sql
Gemfile.lock 
