 <div id="control-bar" class="grey-bg clearfix"><div class="container_12">
	<div class="float-left">
		 <%= link_to "Back",:back,:class=>'button_link' %>
	</div>

	<div class="float-right"> 
		<%= text %>
		<!-- <button type="button" disabled="disabled">Disabled</button>
			<button type="button" class="red">Cancel</button> 
			<button type="button" class="grey">Reset</button> 
			<button type="button"><img src="images/icons/fugue/tick-circle.png" width="16" height="16"> Save</button> -->
	</div>
</div></div>