<div id="hs_wrapper">
	<div id="hs_container" class="hs_container">
		<div class="hs_area hs_area1 data_link" data-href="/gallery_types" >
			<img class="hs_visible" src="/images/home/area1/1.jpg" alt=""/>
			<img src="/images/home/area1/2.jpg" alt=""/>
			<img src="/images/home/area1/3.jpg" alt=""/>
		</div>
		<div class="hs_area hs_area2 data_link" data-href="/blog">
			<img class="hs_visible" src="/images/home/area2/1.jpg" alt=""/>
			<img src="/images/home/area2/2.jpg" alt=""/>
			<img src="/images/home/area2/3.jpg" alt=""/>
		</div>
		<div class="hs_area hs_area3 data_link" data-href="/food">
			<img class="hs_visible" src="/images/home/area3/1.jpg" alt=""/>
			<img src="/images/home/area3/2.jpg" alt=""/>
			<img src="/images/home/area3/3.jpg" alt=""/>
		</div>
		<div class="hs_area hs_area4 data_link" data-href="/videos">
			<img class="hs_visible" src="/images/home/area4/1.jpg" alt=""/>
			<img src="/images/home/area4/2.jpg" alt=""/>
			<img src="/images/home/area4/3.jpg" alt=""/>
		</div>
		<div class="hs_area hs_area5 data_link" data-href="/music">
			<img class="hs_visible" src="/images/home/area5/1.jpg" alt=""/>
			<img src="/images/home/area5/2.jpg" alt=""/>
			<img src="/images/home/area5/3.jpg" alt=""/>
		</div>
	</div>
</div>

<%- content_for :head_js do -%>
	<%= javascript_include_tag 'home' %>
<%- end -%>
