<%- @extra_body_class="category category-gallery" -%>
<%- title @gallery_type.name %>
<%#= content_for :bgimg do -%><%#= @gallery_type.random_image %><%#- end %>
<% if !@galleries.blank? %>
<div class="gallery_container">
  <% for gallery in @galleries %>
	<%= render :partial=>'/galleries/gallery_box',:locals=>{:gallery=>gallery} %>
 <% end %>
</div>
<% else %>
  no galleries
<% end %>




