<%- @extra_body_class="category category-gallery" -%>
<%- title @gallery_type.name %>
<%#= content_for :bgimg do -%><%#= @gallery_type.random_image %><%#- end %>
<% if !@galleries.blank? %>
<div class="gallery_container">
  <%- oldyear="" 
	i=0
	-%>
	<%- @galleries.each do |year,collection| -%>
		<br class="clear" />
		<%= content_tag(:h2,year)  %>
   	 	<span class="year_sep">
   	 	<%- collection.each do |gallery| -%>
   	 		<%= render :partial=>'/galleries/gallery_box',:locals=>{:gallery=>gallery} %>
   	 	<% end %>
		</span>
	<% end %>
</div>
<% else %>
  no galleries
<% end %>




