<% if !@galleries.blank? %>
<ul>
  <% for gallery in @galleries %>
	<li><%= link_to gallery.name, gallery_type_gallery_path(@gallery_type,gallery) %></li>    
  <% end %>
</ul>
<% else %>
  no galleries
<% end %>
