	<ul id="status-infos">
		<li class="spaced">Logged as: <strong>Admin</strong></li>
		<li>
			<a href="#" class="button" title="5 messages"><img src="images/icons/fugue/mail.png" width="16" height="16"> <strong>5</strong></a>
			<div id="messages-list" class="result-block">
				<span class="arrow"><span></span></span>
				
				<ul class="small-files-list icon-mail">
					<li>
						<a href="#"><strong>10:15</strong> Please update...<br>
						<small>From: System</small></a>
					</li>
					<li>
						<a href="#"><strong>Yest.</strong> Hi<br>
						<small>From: Jane</small></a>
					</li>
					<li>
						<a href="#"><strong>Yest.</strong> System update<br>
						<small>From: System</small></a>
					</li>
					<li>
						<a href="#"><strong>2 days</strong> Database backup<br>
						<small>From: System</small></a>
					</li>
					<li>
						<a href="#"><strong>2 days</strong> Re: bug report<br>
						<small>From: Max</small></a>
					</li>
				</ul>
				
				<p id="messages-info" class="result-info"><a href="#">Go to inbox &raquo;</a></p>
			</div>
		</li>
		<li>
			<a href="#" class="button" title="25 comments"><img src="images/icons/fugue/balloon.png" width="16" height="16"> <strong>25</strong></a>
			<div id="comments-list" class="result-block">
				<span class="arrow"><span></span></span>
				
				<ul class="small-files-list icon-comment">
					<li>
						<a href="#"><strong>Jane</strong>: I don't think so<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Ken_54</strong>: What about using a different...<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Jane</strong> Sure, but no more.<br>
						<small>On <strong>Another post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Max</strong>: Have you seen that...<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Anonymous</strong>: Good luck!<br>
						<small>On <strong>My first post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Sébastien</strong>: This sure rocks!<br>
						<small>On <strong>Another post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>John</strong>: Me too!<br>
						<small>On <strong>Third post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>John</strong> This can be solved by...<br>
						<small>On <strong>Another post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Jane</strong>: No prob.<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Anonymous</strong>: I had the following...<br>
						<small>On <strong>My first post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Anonymous</strong>: Yes<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Lian</strong>: Please make sure that...<br>
						<small>On <strong>Last post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Ann</strong> Thanks!<br>
						<small>On <strong>Last post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Max</strong>: Don't tell me what...<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Gordon</strong>: Here is an article about...<br>
						<small>On <strong>My another post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Lee</strong>: Try to reset the value first<br>
						<small>On <strong>Last title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Lee</strong>: Sure!<br>
						<small>On <strong>Second post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Many</strong> Great job, keep on!<br>
						<small>On <strong>Third post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>John</strong>: I really like this<br>
						<small>On <strong>First title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Paul</strong>: Hello, I have an issue with...<br>
						<small>On <strong>My first post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>June</strong>: Yuck.<br>
						<small>On <strong>Another title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Jane</strong>: Wow, sounds amazing, do...<br>
						<small>On <strong>Another title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Esther</strong>: Man, this is the best...<br>
						<small>On <strong>Another post</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>Max</strong>: Thanks!<br>
						<small>On <strong>Post title</strong></small></a>
					</li>
					<li>
						<a href="#"><strong>John</strong>: I'd say it is not safe...<br>
						<small>On <strong>My first post</strong></small></a>
					</li>
				</ul>
				
				<p id="comments-info" class="result-info"><a href="#">Manage comments &raquo;</a></p>
			</div>
		</li>
		<li><a href="login.html" class="button red" title="Logout"><span class="smaller">LOGOUT</span></a></li>
	</ul>